<div class="row color-txt">
    <!-- <div class="color-txt">
        <hr>
    </div> -->
    <h1 class="text-center">Proyectos Realizados </h1>
    <div class="contenedor m-top">
        <div class="col col-sm-12 col-md-7 col-lg-7 parte1">
            <h1 class="text-center">Agenda</h1>
            <p class="m-top">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae alias omnis quia itaque distinctio voluptas molestias corporis minima ab non odio esse accusamus illum impedit incidunt, amet enim debitis expedita!</p>
        </div>
        <div class="col col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/agenda.png" class="img-fluid img-proy">
        </div>
    </div>
    <div class="contenedor">
        <div class="col col-sm-12 col-md-7 col-lg-7 parte1">
            <h1 class="text-center">Portfolio</h1>
            <p class="m-top">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae alias omnis quia itaque distinctio voluptas molestias corporis minima ab non odio esse accusamus illum impedit incidunt, amet enim debitis expedita!</p>
        </div>
        <div class="col col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Portfolio.png" class="img-fluid img-proy">
        </div>
    </div>
</div>
